.App {
  text-align: center;
}

.App-swords {
  font-size: 40px;
  line-height: 40px;
  padding: 10px;
  background-image: radial-gradient(#FFFFFF 0%, #222 200px);
  width: 400px;
  margin: auto auto;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
  overflow: hidden;
}

.App-intro {
  font-size: large;
}
